In [14]:
import pandas as pd
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy import create_engine, func, inspect, text

In [15]:
df = pd.read_csv("wine_quality.csv")
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [17]:
engine = create_engine("sqlite:///wine_quality.sqlite")

df.to_sql("wine_quality", con=engine, if_exists="replace", index=False)

1599

In [18]:
# Explore and understand the data

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

wine_quality
fixed_acidity FLOAT
volatile_acidity FLOAT
citric_acid FLOAT
residual_sugar FLOAT
chlorides FLOAT
free_sulfur_dioxide FLOAT
total_sulfur_dioxide FLOAT
density FLOAT
pH FLOAT
sulphates FLOAT
alcohol FLOAT
quality BIGINT

In [21]:
wine = "5"

# allow the user to select ALL or a specific quality
if wine == "All":
    where_clause = "1=1"
else:
    where_clause = f"wine = '{wine}'"

query = f"""
        SELECT
            *
        FROM
            "wine_quality"
        WHERE
            {where_clause};
"""

print(query)

        SELECT
            *
        FROM
            "wine_quality"
        WHERE
            wine = '5';